<div th:fragment="body">
  <div class="content-wrapper">
    <h3>Додати посаду</h3>

    <!-- Форма для додавання нової посади -->
    <form th:action="@{/positions/add}" th:object="${position}" method="post" class="form">
      <div style="display: flex; align-items: center;">
        <label for="name" style="margin-right: 10px;">Посада</label>
        <input type="text" MAXLENGTH="20" th:field="*{name}" required style="flex: 1; margin-right: 10px;"/>
        <button type="submit" class="button">Додати</button>
      </div>
    </form>

    <!-- Список посад -->
    <h3>Існуючі посади</h3>
    <table>
      <thead>
      <tr>
        <th>Назва посади</th>
        <th>Дії</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="position : ${positions}">
        <td th:text="${position.name}"></td>
        <td>
          <form th:action="@{/positions/delete/{id}(id=${position.id})}" method="post" style="display:inline;">
            <button type="submit" class="button">Видалити</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
